<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4EVixKDkLzB5MI-YSxAx4OgveC1b-vBY</string>
	<key>GCM_SENDER_ID</key>
	<string>203894246575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tripTales.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>triptales-4a732</string>
	<key>STORAGE_BUCKET</key>
	<string>triptales-4a732.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203894246575:ios:2fed041919dc69fcbe985a</string>
</dict>
</plist>